@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-theme-glass {
  @apply rounded-lg border border-white/20 bg-[rgba(10,10,10,0.2)] shadow-lg;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}
.dark-theme-glass-inner {
  @apply rounded-lg border border-white/10 shadow-md;
  background-color: #1681ff17;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

@layer base {
  :root {
    --background: 180 100% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 180 100% 97%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 180 100% 97%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 180 100% 25%;
    --primary-foreground: 180 100% 97%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 14.3% 9.1%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 35 100% 63%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 180 100% 25%;
    --radius: 0.5rem;
  }

  .dark {
    --bg-base-h: 224;
    --bg-base-s: 71.4%;
    --bg-base-l: 15%;
    
    --bg-gradient-start-h: 217;
    --bg-gradient-start-s: 91%;
    --bg-gradient-start-l: 60%;
    --bg-gradient-start-a: 0.3;

    --bg-gradient-end-h: 275;
    --bg-gradient-end-s: 92%;
    --bg-gradient-end-l: 65%;
    --bg-gradient-end-a: 0.3;

    --background: var(--bg-base-h) var(--bg-base-s) var(--bg-base-l);
    --foreground: 228 35% 84%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 228 35% 84%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 208 68% 44%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 219 20% 77%;
    --accent: 35 100% 63%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 51% 84% / 0.57;
    --input: 215 27.9% 16.9%;
    --ring: 207 100% 81%;

    --bg-gradient-start: hsla(var(--bg-gradient-start-h), var(--bg-gradient-start-s), var(--bg-gradient-start-l), var(--bg-gradient-start-a));
    --bg-gradient-end: hsla(var(--bg-gradient-end-h), var(--bg-gradient-end-s), var(--bg-gradient-end-l), var(--bg-gradient-end-a));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(circle at top left, var(--bg-gradient-start), transparent 40%), radial-gradient(circle at bottom right, var(--bg-gradient-end), transparent 40%);
    background-attachment: fixed;
  }
  
  [data-radix-scroll-area-viewport] > div {
    display: block !important;
  }
}

@layer components {
  .text-primary {
    color: hsl(224 44% 87%);
  }
  .dark .dark-theme-glass-inner .dark-theme-glass-inner {
      background-color: #1681ff17;
  }
  .dark [data-state=active] {
      background-color: hsl(224deg 15% 52% / 53%);
  }
}
