
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-theme-glass {
  @apply rounded-lg border border-white/20 bg-[rgba(10,10,10,0.2)] shadow-lg;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}
.dark-theme-glass-inner {
  @apply rounded-lg border border-white/10 shadow-md;
  background-color: #1681ff17;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

@layer base {
  .dark {
    --bg-base-h: 224;
    --bg-base-s: 71.4%;
    --bg-base-l: 15%;
    
    --bg-gradient-start-h: 217;
    --bg-gradient-start-s: 91%;
    --bg-gradient-start-l: 60%;
    --bg-gradient-start-a: 0.3;

    --bg-gradient-end-h: 275;
    --bg-gradient-end-s: 92%;
    --bg-gradient-end-l: 65%;
    --bg-gradient-end-a: 0.3;

    --background: var(--bg-base-h) var(--bg-base-s) var(--bg-base-l);
    --foreground: 228 35% 84% / 0.9;
    --card: 224 71.4% 4.1%;
    --card-foreground: 228 35% 84% / 0.9;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 208 68% 44% / 1;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 218 20% 77%;
    --accent: 35 100% 63%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 51% 84.74% / 0.57;
    --input: 215 27.9% 16.9%;
    --ring: 207 100% 81%;
    --radius: 0.5rem;

    --bg-gradient-start: hsla(var(--bg-gradient-start-h), var(--bg-gradient-start-s), var(--bg-gradient-start-l), var(--bg-gradient-start-a));
    --bg-gradient-end: hsla(var(--bg-gradient-end-h), var(--bg-gradient-end-s), var(--bg-gradient-end-l), var(--bg-gradient-end-a));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(circle at top left, var(--bg-gradient-start), transparent 40%), radial-gradient(circle at bottom right, var(--bg-gradient-end), transparent 40%);
    background-attachment: fixed;
  }
  
  [data-radix-scroll-area-viewport] > div {
    display: block !important;
  }
}

@layer components {
  .text-primary {
    color: hsl(208 61% 71% / 1);
  }
  .dark .dark-theme-glass-inner {
      background-color: #1681ff17;
  }
  .dark [data-state=active] {
    background-color: hsl(224deg 25% 40%) !important;
  }
}

.bg-background\/50 {
    background-color: hsl(0deg 0% 0% / 49%);
}

.bg-popover {
    background-color: hsl(207deg 53% 20% / 80%);
}
